---
- name: Running macOS specific setup.
  include_tasks: setup-macOS.yml
  when: ansible_facts['os_family'] == 'Darwin'

- name: Generating .claude.json.
  ansible.builtin.template:
    src: "templates/claude.json.j2"
    dest: "{{ (ansible_facts['os_family'] == 'Darwin') | ternary('/Users/', '/home/') }}{{ item }}/.claude.json"
    mode: u=rw,g=r,o=
    owner: "{{ item }}"
    group: "{{ (ansible_facts['os_family'] == 'Darwin') | ternary('staff', item) }}"
  become: yes
  loop: "{{ users_to_configure }}"

- name: Ensure that the directories for the OpenAI Codex configuration exists.
  file:
    path: "{{ (ansible_facts['os_family'] == 'Darwin') | ternary('/Users/', '/home/') }}{{ item }}/.codex"
    state: directory
    mode: u=rwx,g=rx,o=
    owner: "{{ item }}"
    group: "{{ (ansible_facts['os_family'] == 'Darwin') | ternary('staff', item) }}"
  become: yes
  become_user: "{{ item }}"
  loop: "{{ users_to_configure }}"

- name: Generating OpenAI Codex configuration.
  ansible.builtin.template:
    src: "templates/codex.json.j2"
    dest: "{{ (ansible_facts['os_family'] == 'Darwin') | ternary('/Users/', '/home/') }}{{ item }}/.codex/config.json"
    mode: u=rw,g=r,o=
    owner: "{{ item }}"
    group: "{{ (ansible_facts['os_family'] == 'Darwin') | ternary('staff', item) }}"
  become: yes
  loop: "{{ users_to_configure }}"

- name: Copy instructions for OpenAI Codex to the correct place.
  ansible.builtin.copy:
    src: "files/codex.instructions.md"
    dest: "{{ (ansible_facts['os_family'] == 'Darwin') | ternary('/Users/', '/home/') }}{{ item }}/.codex/instructions.md"
    mode: u=rw,g=r,o=
    owner: "{{ item }}"
    group: "{{ (ansible_facts['os_family'] == 'Darwin') | ternary('staff', item) }}"
  become: yes
  loop: "{{ users_to_configure }}"