{
  "installMethod": "homebrew",
  "autoUpdates": "false",
  "cachedStatsigGates": {
    "tengu_disable_bypass_permissions_mode": false
  },
  "userID": "{{ llm_claude_user_id }}",
  "projects": {},
  "oauthAccount": {
    "accountUuid": "{{ llm_claude_oauth_account_uuid }}",
    "emailAddress": "{{ llm_claude_oauth_account_email }}",
    "organizationUuid": "{{ llm_claude_oauth_organization_uuid }}",
    "organizationRole": "user",
    "workspaceRole": null,
    "organizationName": "{{ llm_claude_oauth_organization_name }}"
  },
  "hasCompletedOnboarding": true,
  "lastOnboardingVersion": "1.0.96",
  "hasOpusPlanDefault": false,
  "subscriptionNoticeCount": 0,
  "hasAvailableSubscription": false
}